.content {
	height: 180vh;
	z-index: 20;
	max-width: 100% !important;
	overflow-x: hidden !important;
	overflow-y: hidden !important;
	background-image: linear-gradient(to top, #fc60d8 10%, #1b206a 60%);
}

.divider {
	z-index: 50;
	max-width: 100% !important;
	overflow-x: hidden !important;
	position: absolute;
	display: block;
}

.techboy {
	margin-top: 80px;
	position: sticky;
	position: -webkit-sticky;
	z-index: 60;
	right: 50px;
	max-width: 100% !important;
	overflow-x: hidden !important;
	position: absolute;
	display: block;
}

.aboutHeading {
	margin-top: 425px;
	margin-left: 40px;
	color: #fff;
	position: absolute;
	font-weight: bold;
	font-family: 'Segoe UI';
	font-size: 100px;
	max-width: 100% !important;
	border-bottom: 10px solid #fc60d8;
	padding-bottom: 5px;
}

.about-section-1 {
	color: #fff;
	margin-top: 620px;
	padding-bottom: 20px;
	margin-left: 40px;
	font-weight: bold;
	font-size: 30px;
	font-family: 'Segoe UI';
}

.about-section-2 {
	color: #fff;
	padding-bottom: 20px;
	margin-left: 40px;
	font-weight: bold;
	font-size: 30px;
	font-family: 'Segoe UI';
}

.about-section-3 {
	color: #fff;
	padding-bottom: 20px;
	margin-left: 40px;
	font-weight: bold;
	font-size: 30px;
	font-family: 'Segoe UI';
}

.socialHeading {
	margin-top: 50px;
	margin-left: 40px;
	color: #fff;
	position: absolute;
	font-weight: bold;
	font-family: 'Segoe UI';
	font-size: 100px;
	max-width: 100% !important;
	border-bottom: 10px solid #54ffbf;
	padding-bottom: 5px;
}

.chatbubble {
	margin-top: 1100px;
	position: sticky;
	position: -webkit-sticky;
	z-index: 60;
	right: 200px;
	max-width: 100% !important;
	overflow-x: hidden !important;
	position: absolute;
	display: block;
}

.github {
	margin-top: 350px;
	margin-left: 200px;
	position: sticky;
	position: -webkit-sticky;
	z-index: 60;
	max-width: 100% !important;
	overflow-x: hidden !important;
	position: absolute;
	display: block;
}

.github-txt {
	text-decoration: none;
	margin-top: 550px;
	margin-left: 215px;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	font-size: 30px;
	font-family: 'Raleway';
}

.linkedin {
	margin-top: 350px;
	margin-left: 650px;
	position: sticky;
	position: -webkit-sticky;
	z-index: 60;
	max-width: 100% !important;
	overflow-x: hidden !important;
	position: absolute;
	display: block;
}

.linkedin-txt {
	margin-left: 350px;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
	font-family: 'Raleway';
	display: inline-block;
}

.email {
	margin-top: 350px;
	margin-left: 1100px;
	position: sticky;
	position: -webkit-sticky;
	z-index: 60;
	max-width: 100% !important;
	overflow-x: hidden !important;
	position: absolute;
	display: block;
}

.email-txt {
	margin-left: 395px;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	font-size: 30px;
	text-decoration: none;
	font-family: 'Raleway';
}

.resume {
	margin-top: 330px;
	margin-left: 1550px;
	position: sticky;
	position: -webkit-sticky;
	z-index: 60;
	max-width: 100% !important;
	overflow-x: hidden !important;
	position: absolute;
	display: block;
}

.resume-txt {
	margin-left: 310px;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	font-family: 'Raleway';
}
