.content {
	// height: 180vh;
	z-index: 20;
	padding-bottom: 20px;
	position: relative;
	width: 100%;
	max-width: 100% !important;
	overflow-x: hidden !important;
	overflow-y: hidden !important;
	background-image: linear-gradient(to top, #fc60d8 10%, #1b206a 60%);
}

.divider {
	z-index: 50;
	width: 100%;
	z-index: 50;
	max-width: 100% !important;
	overflow-x: hidden !important;
	// position: absolute;
	display: block;
}

.techboy {
	top: 50px;
	z-index: 70;
	right: 50px;
	max-width: 100% !important;
	overflow-x: hidden !important;
	position: absolute;
	display: block;
}

.aboutHeading {
	margin-top: 50px;
	z-index: 60;
	margin-left: 40px;
	display: block;
	color: #fff;
	font-weight: bold;
	font-family: "Segoe UI";
	font-size: 100px;
	max-width: 100% !important;
	text-decoration: underline;
	text-decoration-color: #fc60d8;

	text-underline-position: under;
	padding-bottom: 5px;

	// position: absolute;
	// border-bottom: 10px solid #fc60d8;
}

.about-section-1 {
	color: #fff;
	margin-top: 80px;
	padding-bottom: 20px;
	margin-left: 40px;
	font-weight: bold;
	font-size: 30px;
	font-family: "Segoe UI";

	// position: relative;
}

.about-section-2 {
	color: #fff;
	padding-bottom: 20px;
	margin-left: 40px;
	font-weight: bold;
	font-size: 30px;
	font-family: "Segoe UI";
}

.about-section-3 {
	color: #fff;
	padding-bottom: 20px;
	margin-left: 40px;
	font-weight: bold;
	font-size: 30px;
	font-family: "Segoe UI";
}

.socialHeading {
	margin-top: 100px;
	z-index: 60;
	margin-left: 40px;
	display: block;
	color: #fff;
	font-weight: bold;
	font-family: "Segoe UI";
	font-size: 100px;
	max-width: 100% !important;
	text-decoration: underline;
	text-decoration-color: #54ffbf;
	padding-bottom: 5px;

	text-underline-position: under;
}

.chatbubble {
	// margin-top: 50px;
	z-index: 60;
	margin-right: 100px;
	max-width: 100% !important;
	overflow-x: hidden !important;
	position: relative;
	// display: block;
}

.social-heading-container {
	display: flex;
	align-items: flex-end;
	width: 85%;
	justify-content: space-between;
	flex-direction: row;
}

.github {
	// margin-top: 350px;
	// margin-left: 200px;
	z-index: 60;
	max-width: 100% !important;
	overflow-x: hidden !important;
	position: absolute;
	display: block;
}

.github-txt {
	// margin-top: 550px;
	// margin-left: 215px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	font-size: 30px;
	font-family: "Raleway";
}

.linkedin {
	// margin-top: 350px;
	// margin-left: 650px;
	z-index: 60;
	max-width: 100% !important;
	overflow-x: hidden !important;
	position: absolute;
	display: block;
}

.linkedin-txt {
	// margin-left: 350px;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
	font-family: "Raleway";
	display: inline-block;
}

.email {
	// margin-top: 350px;
	// margin-left: 1100px;
	z-index: 60;
	max-width: 100% !important;
	overflow-x: hidden !important;
	position: absolute;
	display: block;
}

.email-txt {
	// margin-left: 395px;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	font-size: 30px;
	text-decoration: none;
	font-family: "Raleway";
}

.resume {
	// margin-top: 330px;
	// margin-left: 1550px;
	z-index: 60;
	max-width: 100% !important;
	overflow-x: hidden !important;
	position: absolute;
	display: block;
}

.resume-txt {
	// margin-left: 310px;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	font-family: "Raleway";
}

.social-container {
	max-width: 800px;
	width: 100%;
	padding-top: 50px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.flex-item {
	padding: 70px;
}

.icon-column {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.icon-txt {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	padding-bottom: 10px;
	font-family: "Raleway";
}

@media (max-width: 1800px) {
	.techboy {
		top: 10px;
		z-index: 70;
		right: 50px;
		max-width: 45% !important;
		overflow-x: hidden !important;
		position: absolute;
		display: block;
	}
	.social-heading-container {
		display: flex;
		align-items: flex-end;
		width: 100%;
		justify-content: space-between;
		flex-direction: row;
	}

	.social-container {
		max-width: 800px;
		width: 100%;
		padding-top: 50px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		flex-direction: row;
		align-items: center;
	}

	.flex-item {
		padding: 50px;
	}
}

@media (max-width: 1024px) {
	.techboy {
		top: 10px;
		z-index: 70;
		right: 30px;
		max-width: 40% !important;
		overflow-x: hidden !important;
		position: absolute;
		display: block;
	}

	.social-heading-container {
		display: flex;
		align-items: flex-end;
		width: 85%;
		justify-content: space-between;
		flex-direction: row;
	}

	.social-container {
		max-width: 800px;
		width: 100%;
		padding-top: 50px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.flex-item {
		padding: 70px;
	}

	.icon-column {
		display: flex;
		text-align: center;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.icon-txt {
		text-decoration: none;
		color: #fff;
		font-weight: bold;
		font-size: 30px;
		padding-bottom: 10px;
		font-family: "Raleway";
	}
	.chatbubble {
		display: none;
	}
}

@media (max-width: 768px) {
	.content {
		// height: 100%;
		z-index: 20;
		max-width: 100% !important;
		overflow-x: hidden !important;
		overflow-y: hidden !important;
		background-image: linear-gradient(to top, #fc60d8 10%, #1b206a 60%);
	}

	.social-container {
		max-width: 800px;
		width: 100%;
		padding-top: 20px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.icon-txt {
		text-decoration: none;
		color: #fff;
		font-weight: bold;
		font-size: 30px;
		padding-bottom: 70px;
		font-family: "Raleway";
	}

	.flex-item {
		padding: 30px;
	}

	.techboy {
		top: 10px;
		z-index: 70;
		max-width: 60% !important;
		margin: 0 auto;

		left: 0px;
		right: 0px;
		overflow-x: hidden !important;
		position: absolute;
		display: block;
		// display: flex;
		// padding-bottom: 50px;
	}

	.aboutHeading {
		padding-top: 100px;
		margin-top: 100px;
		z-index: 60;
		margin-left: 0px;
		text-align: center;
		display: block;
		color: #fff;
		font-weight: bold;
		font-family: "Segoe UI";
		// position: relative;
		font-size: 50px;
		max-width: 100% !important;
		text-decoration: underline;
		text-decoration-color: #fc60d8;
		padding-bottom: 5px;
		text-underline-position: under;
	}

	.socialHeading {
		margin-top: 100px;
		z-index: 60;
		text-align: center;
		color: #fff;
		font-weight: bold;
		font-family: "Segoe UI";
		margin-left: 0px;
		// position: relative;
		font-size: 50px;
		max-width: 100% !important;
		text-decoration: underline;
		text-decoration-color: #54ffbf;
		padding-bottom: 5px;
		text-underline-position: under;
	}

	.about-section-1 {
		color: #fff;
		margin-top: 30px;
		padding-bottom: 20px;
		margin-left: 20px;
		font-weight: bold;
		font-size: 30px;
		font-family: "Segoe UI";
	}

	.about-section-2 {
		color: #fff;
		margin-top: 30px;
		padding-bottom: 20px;
		margin-left: 20px;
		font-weight: bold;
		font-size: 30px;
		font-family: "Segoe UI";
	}

	.about-section-3 {
		color: #fff;
		margin-top: 30px;
		padding-bottom: 20px;
		margin-left: 20px;
		font-weight: bold;
		font-size: 30px;
		font-family: "Segoe UI";
	}
	.chatbubble {
		display: none;
	}

	.github {
		margin-top: 230px;
		margin-left: 180px;
		z-index: 60;
		height: auto;
		overflow-x: hidden !important;
		display: block;
	}

	.github-txt {
		text-decoration: none;
		margin-top: 400px;
		margin-left: 200px;
		color: #fff;
		font-weight: bold;
		font-size: 30px;
		font-family: "Raleway";
	}

	.linkedin {
		margin-top: 500px;
		margin-left: 180px;
		z-index: 60;
		height: auto;
		overflow-x: hidden !important;
		display: block;
	}

	.linkedin-txt {
		text-decoration: none;
		margin-top: 200px;
		margin-left: 190px;
		color: #fff;
		font-weight: bold;
		font-size: 30px;
		font-family: "Raleway";
	}

	.email {
		margin-top: 800px;
		margin-left: 150px;
		z-index: 60;
		height: auto;
		overflow-x: hidden !important;
		display: block;
	}

	.email-txt {
		text-decoration: none;
		margin-top: 230px;
		margin-left: 210px;
		color: #fff;
		font-weight: bold;
		font-size: 30px;
		font-family: "Raleway";
	}

	.resume {
		margin-top: 1100px;
		margin-left: 190px;

		z-index: 60;
		height: auto;
		overflow-x: hidden !important;
		display: block;
	}

	.resume-txt {
		text-decoration: none;
		margin-top: 260px;
		margin-left: 190px;
		color: #fff;
		font-weight: bold;

		font-size: 30px;
		font-family: "Raleway";
	}

	// .container-txt {
	// 	padding-right: 190px;
	// 	display: flex;
	// 	justify-content: center;
	// 	flex-direction: column;
	// 	align-items: center;
	// }

	.social-container {
		// margin-top: 50px;
		max-width: 800px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.social-heading-centre {
		// max-width: 800px;
		// width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.social-heading-container {
		display: flex;
		align-items: flex-end;
		width: 100%;
		justify-content: space-between;
		flex-direction: row;
	}
}
