.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 100;
	padding-right: 40px;
	position: fixed;
	overflow: hidden;
	padding-left: 10px;
	width: -webkit-fill-available;
	width: -moz-available;
	animation: slidedown 2s;
	transition: top 3s ease;
}

.navbar--hidden {
	top: -85px;
}

.sidebar--hidden {
	display: none;
}

.animation {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

	overflow: hidden;

	overflow-y: hidden !important;

	z-index: 20;
}

.background-color {
	background-image: linear-gradient(to right, #f45f85 0%, #787ff0 100%);
	height: 100vh;
	width: 100vw;

	overflow-y: hidden !important;
	overflow: hidden;
}

.loadingText {
	text-align: center;
	margin-top: -50px;
	font-size: 40px;
	z-index: 40;
	stroke: none;
	stroke-width: 0;
	border: 0;
	font-weight: 600;

	overflow: hidden;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}
.menu {
	width: 50px;
}

.menu-toggle {
	float: right;
	display: flex;
	align-items: center;
	cursor: pointer;
	display: none;
}

.logo {
	margin-top: 10px;
	width: 110px;
	height: 70px;
	color: #fff;
	cursor: pointer;
}

.homeBtn {
	font-family: rale;
	border-color: #ff5eff;
	background-color: transparent;
	width: 90px;
	font-size: 20px;

	color: #fff;
	text-decoration: none;

	transition: 0.2s;
	box-shadow: 5px 2px 7px #fc60d8;
	height: 35px;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	border-radius: 8px;
}

.homeBtn:hover {
	font-family: rale;
	background-image: linear-gradient(to right, #b145ef 0%, #fc60d8 100%);
	width: 90px;
	transition-delay: 1s;

	cursor: pointer;

	box-shadow: 5px 2px 7px #fc60d8;
	font-size: 20px;
	height: 35px;
	border: none;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	border-radius: 8px;
}

.aboutBtn {
	font-family: rale;
	border-color: #ff5eff;
	background-color: transparent;
	width: 120px;
	font-size: 20px;

	color: #fff;
	text-decoration: none;
	transition: 0.2s;
	box-shadow: 5px 2px 7px #fc60d8;
	height: 35px;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	border-radius: 8px;
}

.aboutBtn:hover {
	font-family: rale;
	background-image: linear-gradient(to right, #b145ef 0%, #fc60d8 100%);
	width: 120px;
	transition-delay: 1s;

	cursor: pointer;

	box-shadow: 5px 2px 7px #fc60d8;
	font-size: 20px;
	height: 35px;
	border: none;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	border-radius: 8px;
}

.projectBtn {
	font-family: rale;

	background-color: transparent;

	border-color: #ff5eff;

	color: #fff;
	text-decoration: none;
	width: 180px;
	font-size: 20px;
	height: 35px;
	box-shadow: 5px 2px 7px #fc60d8;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	border-radius: 8px;
}

.projectBtn:hover {
	cursor: pointer;
	font-family: rale;
	background-image: linear-gradient(to right, #b145ef 0%, #fc60d8 100%);
	width: 180px;

	transition-delay: 1s;
	box-shadow: 5px 2px 7px #fc60d8;
	font-size: 20px;
	height: 35px;
	border: none;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	border-radius: 8px;
}

.skillBtn {
	font-family: rale;
	width: 100px;
	font-size: 20px;

	color: #fff;
	text-decoration: none;
	transition: 0.2s;
	box-shadow: 5px 2px 7px #fc60d8;

	border-color: #ff5eff;
	height: 35px;

	background-color: transparent;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	border-radius: 8px;
}

.skillBtn:hover {
	cursor: pointer;
	font-family: rale;
	background-image: linear-gradient(to right, #b145ef 0%, #fc60d8 100%);
	width: 100px;

	transition-delay: 1s;
	box-shadow: 5px 2px 7px #fc60d8;
	font-size: 20px;
	height: 35px;
	border: none;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	border-radius: 8px;
}

nav ul {
	list-style: none;
}

nav ul li {
	padding: 5px;
	display: inline-block;
	margin-right: 40px;
}

// Slide Down

@keyframes slidedown {
	from {
		opacity: 0;
		top: -50%;
	}
	to {
		opacity: 1;
		top: 0%;
	}
}

@keyframes slideup {
	from {
		opacity: 1;
		top: 0%;
	}
	to {
		opacity: 0;
		top: -100%;
	}
}

.sidebar {
	display: none;
}

@media (max-width: 991px) {
	.menu-toggle {
		display: block;
	}

	nav ul {
		display: none;
	}

	.sidebar {
		white-space: nowrap;
		color: #fff;

		margin: 0;
		width: 100%;

		padding-top: 42px;
		background-color: rgba(0, 0, 0, 0.5);

		list-style: none;
		padding-left: initial;
		z-index: 90;
		width: 100%;
		display: block;

		position: fixed;
	}
	.sidebar > li {
		cursor: pointer;

		animation: slidedown 1s;
		padding-top: 10px;
		width: 100%;

		padding-left: 30px;
		padding-bottom: 15px;
		font-family: raleway;
		font-weight: bold;
		font-size: 30px;
	}

	.sidebar > li:hover {
		background-color: #9f31ff;

		background-image: linear-gradient(to right, #b145ef 0%, #fc60d8 100%);
	}
}
